In [1]:
# Bibliotecas a utilizar
import pandas as pd
import gzip
import ast

In [2]:
# Se guarda el path del json en una variable
ur_path = '../data/raw/user_reviews.json.gz'

# Leer el json y guardarlo en un dataframe de pandas
filas=[]
with gzip.open(ur_path, 'rt', encoding='MacRoman') as archivo:
    for line in archivo.readlines():
        filas.append(ast.literal_eval(line))

df_user_review = pd.DataFrame(filas)

df_user_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25799 entries, 0 to 25798
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   25799 non-null  object
 1   user_url  25799 non-null  object
 2   reviews   25799 non-null  object
dtypes: object(3)
memory usage: 604.8+ KB

In [3]:
df_user_review.head()

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [4]:
# Observar la estructura del diccionario detro de la columna reviews que parece estar dentro de []
df_user_review['reviews'][0]

[{'funny': '',
  'posted': 'Posted November 5, 2011.',
  'last_edited': '',
  'item_id': '1250',
  'helpful': 'No ratings yet',
  'recommend': True,
  'review': 'Simple yet with great replayability. In my opinion does "zombie" hordes and team work better than left 4 dead plus has a global leveling system. Alot of down to earth "zombie" splattering fun for the whole family. Amazed this sort of FPS is so rare.'},
 {'funny': '',
  'posted': 'Posted July 15, 2011.',
  'last_edited': '',
  'item_id': '22200',
  'helpful': 'No ratings yet',
  'recommend': True,
  'review': "It's unique and worth a playthrough."},
 {'funny': '',
  'posted': 'Posted April 21, 2011.',
  'last_edited': '',
  'item_id': '43110',
  'helpful': 'No ratings yet',
  'recommend': True,
  'review': 'Great atmosphere. The gunplay can be a bit chunky at times but at the end of the day this game is definitely worth it and I hope they do a sequel...so buy the game so I get a sequel!'}]

In [5]:
# Aplicamos explode para que cada review sea una fila
df_ur_explode = df_user_review.explode('reviews')

In [6]:
df_ur_explode

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted November 5, 20..."
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted July 15, 2011...."
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted April 21, 2011..."
1,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted June 24, 2014...."
1,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted September 8, 2..."
...,...,...,...
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"{'funny': '', 'posted': 'Posted July 10.', 'la..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"{'funny': '', 'posted': 'Posted July 8.', 'las..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"{'funny': '1 person found this review funny', ..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"{'funny': '', 'posted': 'Posted July 20.', 'la..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"{'funny': '', 'posted': 'Posted July 2.', 'las..."

In [7]:
# Creamos un nuevo dataframe a partir de df_ur_explode quedando las claves del diccionario como columnas y eliminando reviews
df_ur_denested = pd.concat([df_ur_explode.drop(['reviews'], axis=1), df_ur_explode['reviews'].apply(pd.Series)], axis=1)

In [8]:
df_ur_denested

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review,0
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,NaN
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.,NaN
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,NaN
1,js41637,http://steamcommunity.com/id/js41637,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,NaN
1,js41637,http://steamcommunity.com/id/js41637,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,NaN
...,...,...,...,...,...,...,...,...,...,...
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...,NaN
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...,NaN
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...,NaN
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,,Posted July 20.,,730,No ratings yet,True,:D,NaN
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,,Posted July 2.,,440,No ratings yet,True,so much fun :D,NaN

In [9]:
df_ur_denested.isna().sum()

user_id            0
user_url           0
funny             28
posted            28
last_edited       28
item_id           28
helpful           28
recommend         28
review            28
0              59333
dtype: int64

In [10]:
df_ur_denested.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59333 entries, 0 to 25798
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      59333 non-null  object
 1   user_url     59333 non-null  object
 2   funny        59305 non-null  object
 3   posted       59305 non-null  object
 4   last_edited  59305 non-null  object
 5   item_id      59305 non-null  object
 6   helpful      59305 non-null  object
 7   recommend    59305 non-null  object
 8   review       59305 non-null  object
 9   0            0 non-null      float64
dtypes: float64(1), object(9)
memory usage: 5.0+ MB

In [11]:
# Eliminamos columnas que no vamos a utilizar
df_ur_denested.drop(['user_url', 'funny', 'posted', 'last_edited', 'helpful', 0], axis=1, inplace=True)

In [12]:
df_ur_denested.isna().sum()

user_id       0
item_id      28
recommend    28
review       28
dtype: int64

In [13]:
# Que porcentaje representan esos 28 registros
round(df_ur_denested.isna().sum() / len(df_ur_denested) * 100, 2)

user_id      0.00
item_id      0.05
recommend    0.05
review       0.05
dtype: float64

In [14]:
# Al ser un porcentaje muy bajo, eliminamos los registros con valores nulos
df_ur_denested.dropna(inplace=True)

In [15]:
df_ur_denested.isna().sum()

user_id      0
item_id      0
recommend    0
review       0
dtype: int64

In [16]:
# Nos preparamos para hacer análisis de sentimiento una vez que tenemos nuestros datos limpios
# Importamos las librerías necesarias
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\jacev\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [17]:
# Crear un objeto SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()
df_ur_denested['sentiment_analysis'] = df_ur_denested['review'].apply(lambda x: sid.polarity_scores(str(x))['compound'])

# Mapear los valores a la escala indicada
df_ur_denested['sentiment_analysis'] = df_ur_denested['sentiment_analysis'].apply(
    lambda score: 0 if score <= -0.5 else (2 if score >= 0.5 else 1)
)

# Si la reseña está ausente, asignar el valor 1
df_ur_denested['sentiment_analysis'].fillna(1, inplace=True)

# Mostrar el DataFrame resultante
df_ur_denested

,user_id,item_id,recommend,review,sentiment_analysis
0,76561197970982479,1250,True,Simple yet with great replayability. In my opi...,2
0,76561197970982479,22200,True,It's unique and worth a playthrough.,1
0,76561197970982479,43110,True,Great atmosphere. The gunplay can be a bit chu...,2
1,js41637,251610,True,I know what you think when you see this title ...,2
1,js41637,227300,True,For a simple (it's actually not all that simpl...,2
...,...,...,...,...,...
25797,76561198312638244,70,True,a must have classic from steam definitely wort...,2
25797,76561198312638244,362890,True,this game is a perfect remake of the original ...,2
25798,LydiaMorley,273110,True,had so much fun plaing this and collecting res...,2
25798,LydiaMorley,730,True,:D,2
25798,LydiaMorley,440,True,so much fun :D,2

In [18]:
# Usar un for para recorrer las columnas y saber que tipo de dato es cada una
for c in df_ur_denested:
    print(c, df_ur_denested[c].apply(lambda x: type(x)).value_counts())

user_id user_id
<class 'str'>    59305
Name: count, dtype: int64
item_id item_id
<class 'str'>    59305
Name: count, dtype: int64
recommend recommend
<class 'bool'>    59305
Name: count, dtype: int64
review review
<class 'str'>    59305
Name: count, dtype: int64
sentiment_analysis sentiment_analysis
<class 'int'>    59305
Name: count, dtype: int64

In [19]:
# Eliminar columna review porque ya no es necesaria
df_ur_denested.drop(['review'], axis=1, inplace=True)

# Convertir la columna 'item_id' a tipo 'int32'
df_ur_denested['item_id'] = df_ur_denested['item_id'].astype('int32')

In [20]:
df_ur_denested.describe()

             item_id  sentiment_analysis
count   59305.000000         59305.00000
mean   169935.176511             1.39484
std    132029.464174             0.63849
min        10.000000             0.00000
25%      8930.000000             1.00000
50%    218230.000000             1.00000
75%    261760.000000             2.00000
max    527340.000000             2.00000

In [21]:
df_ur_denested.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59305 entries, 0 to 25798
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             59305 non-null  object
 1   item_id             59305 non-null  int32
 2   recommend           59305 non-null  object
 3   sentiment_analysis  59305 non-null  int64
dtypes: int32(1), int64(1), object(2)
memory usage: 2.0+ MB

In [22]:
# Guardar el dataframe en un archivo csv en la carpeta clean
df_ur_denested.to_csv('../data/clean/user_reviews.csv.gz', compression='gzip', index=False, encoding='utf-8')

In [ ]:
# Guardar el dataframe en un archivo parquet en la carpeta clean
df_ur_denested.to_parquet('../data/clean/user_reviews.parquet.gz', compression='gzip', index=False)